# Public project key
NEXT_PUBLIC_OPENFORT_PUBLIC_KEY=

# Wallet connect project id
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=

# Shield api key, used create a signer for the user.
NEXT_PUBLIC_SHIELD_API_KEY=
NEXT_PUBLIC_SHIELD_ENCRYPTION_SHARE=

# You can set a policy id to sponsor the gas fees for your users
NEXT_PUBLIC_POLICY_ID=
