@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@plugin "daisyui";

@layer base {

  button,
  a {
    @apply text-blue-500 hover:text-blue-700 cursor-pointer;
  }

  input,
  select {
    @apply border border-zinc-600 px-1;
  }

}

body {
  interpolate-size: allow-keywords;
}

@plugin "daisyui/theme" {
  name: "corporate";
  default: true;
  prefersdark: true;
  --color-base-100: var(--background-200);
  --color-base-content: var(--foreground);
  --color-primary: var(--primary);

  --color-accent: var(--accent);
  --color-accent-content: var(--secondary-foreground);
}

.input-error {
  @apply border-error
}

.input {
  @apply focus-within:outline-0
}

.btn-ghost {
  @apply !bg-transparent border-none !shadow-none hover:bg-transparent
}


/* Default (light mode) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-thumb {
    background-color: #444;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

/* Firefox support */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

@media (prefers-color-scheme: dark) {
  * {
    scrollbar-color: #444 transparent;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-background-100: var(--background-100);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-tooltip: var(--tooltip);
  --color-tooltip-foreground: var(--tooltip-foreground);


  --animate-focus: focus 2s ease-in-out forwards;

  @keyframes focus {

    0%,
    40% {
      opacity: 1;
    }

    20%,
    60% {
      opacity: 0.5;
    }

    0%,
    80% {
      opacity: 1;
      outline: 2px solid var(--color-primary);
      outline-offset: 4px;
      border-radius: 2px;
    }

    100% {
      outline: inherit;
    }
  }
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --background-100: var(--color-gray-100);
  --background-200: var(--color-gray-200);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: #f97316;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: var(--color-gray-200);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: var(--color-zinc-300);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
  --tooltip: oklch(95% 0.0001 271.152);
  --tooltip-foreground: oklch(0.141 0.005 285.823);

  --nav-height: 3.5rem;
  --max-screen-width: 1400px;
  --sidebar-width: 360px;
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --background-100: var(--color-zinc-900);
  --background-200: var(--color-zinc-800);

  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: #FC3627;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: var(--color-zinc-700);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
  --tooltip: oklch(0.985 0 0);
  --tooltip-foreground: oklch(0.141 0.005 285.823);

}

@layer base {
  * {
    @apply border-border outline-ring/50;

  }

  body {
    @apply bg-background text-foreground;

  }

}






@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: scale(.1);
  }

  85% {
    opacity: 1;
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.animate-child-in>* {
  animation: FadeIn .3s linear;
  animation-fill-mode: both;
  --delay: .05s;
}

.animate-child-in>*:nth-child(1) {
  animation-delay: calc(0 * var(--delay));
}

.animate-child-in>*:nth-child(2) {
  animation-delay: calc(1 * var(--delay));
}

.animate-child-in>*:nth-child(3) {
  animation-delay: calc(2 * var(--delay));
}

.animate-child-in>*:nth-child(4) {
  animation-delay: calc(3 * var(--delay));
}

.animate-child-in>*:nth-child(5) {
  animation-delay: calc(4 * var(--delay));
}

.animate-child-in>*:nth-child(6) {
  animation-delay: calc(5 * var(--delay));
}

.animate-child-in>*:nth-child(7) {
  animation-delay: calc(6 * var(--delay));
}

.animate-child-in>*:nth-child(8) {
  animation-delay: calc(7 * var(--delay));
}

.animate-child-in>*:nth-child(9) {
  animation-delay: calc(8 * var(--delay));
}