* {
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
}
label {
  display: flex;
  width: auto;
  padding: 0 0 8px;
}
label.checkbox {
  align-items: center;
  gap: 4px;
}

label.textbox,
label.select {
  flex-direction: column;
  gap: 2px;
}

main {
  padding: 32px;
  padding-left: 352px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
aside {
  z-index: 2147483647;
  position: fixed;
  overflow-x: hidden;
  overflow-y: scroll;
  top: 0;
  left: 0;
  bottom: 0;
  width: 256px;
  padding: 32px;
  background: #fff;
}
@media screen and (max-width: 768px) {
  main {
    padding: 32px;
  }
  aside {
    z-index: 1;
    position: relative;
    width: auto;
  }
}
